@import '../mixins/mixin.scss';
@import '../variables/variables.scss';

.header {
    @include flex($f-content: start, $f-items: center, $f-direct: row);
    position: relative;
    float: right;
    width: calc(100% - (3vw + 55px));
    height: calc((3vw + 55px)/1.3);
    box-shadow: inset -6px -3px 15px 0px #9292922f;

    &__title {
        @include flex($f-content: center);
        flex-grow: 1;

        &_text {
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: $respond-text;
            line-height: 75px;
            color: $text-color-grey;
        }
    }

    &__navigation {
        flex-grow: 7;


        &_links-wrapper {
            @include flex($f-display: inline-flex, $f-content: flex-end, $f-items: center);
            width: 100%;
            margin-top: none !important;
            list-style-type: none;
            text-align: end;
        }

        &_item{
            @include flex($f-content: center, $f-items: center);
            font-family: 'Sansation Light';
            font-size: calc(0.2vw + 1rem);
            flex-grow: 1;

            &:last-child{
                margin-right: 1.5em;
            }
        }

        &_item-false{
            flex-grow: 11;
        }

        &_link{
            color: $text-color-grey;
            text-decoration: none;
        }
    }
}